@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore
@using AutoPlus1017.Data
@using AutoPlus1017.Entities

@inject SignInManager<Users> SignInManager
@inject UserManager<Users> UserManager

@if (SignInManager.IsSignedIn(User) && await UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result, "admin"))
{
    <li class="nav-item dropdown show" data>
        <a class="dropdown-toggle nav-link text-dark" href="#" data-toggle="dropdown">Администрация</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" asp-area="" asp-controller="Cars" asp-action="Index">Коли</a>
            <a class="dropdown-item" asp-area="" asp-controller="Orders" asp-action="Index">Поръчки</a>
        </div>
    </li>
}
