@model  IEnumerable<AutoPlus1017.Entities.Car>

<div class="hero section">
    <img class="img-fluid" src="~/Images/f36.jpg"/>
    <div class="hero-heading">
        <h2>Ако си търсите автомобил, нашият магазин <strong> AutoPlus</strong> е вашето място</h2>
        <a id="HeroRegisterButton" class="btn btn-outline-info btn-lg text-light hero-register-button">Регистрирай се</a>
    </div>
</div>